body {
    font-family: helvetica, sans-serif;
    background-color: #EEEEEE;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#all {
    margin: 0;
    height: 100%;
    width: 100%;
}

#left {
    background-color: #BBBBBB;
    color: white;
    float: left;
    padding: 4px;
}

#right {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    float: right;
}

#zoom {
    padding: 10px;
}