body {
    font-family: helvetica, sans-serif;
    background-color: #000;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

#menu {
    z-index: 1;
    position: fixed;
    height: 100%;
    float: left;
    background: #333 url('stribe.png') repeat-y 35px 13px;
    color: black;
    float: left;
    padding: 4px;
    width: 370px;
    height: 100% ;
}

#map {
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.clear {
    clear: both;
}

#logo{
    margin-top: -10px;
    margin-left: 1px;
}

#finder{
    margin-top: -8px;
    padding-left: 47px;
}

#directions{
    padding-left: 47px;
}

#directions p{
    margin-bottom: 2px;
}

#directions h1{
    margin-bottom: -9px;
}

#fromForm{
    margin-bottom: -9px;
}

#toForm{
    margin-top: -2px;
}

#roadFilter{
    margin-top: 40px;
    padding-left: 47px;
}

#roadFilter fieldset{
    border: none;
    margin-top: -18px;
    margin-left: -12px;
}

#roadFilter input, label{
    color: #FFFFFF;
    margin-top: 8px;
}

h1, p {
    color: #FFFFFF;
    margin-left: 30px;
}

h1{
    font-size:22px;
}